<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.local.medievaldice.update">
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application android:usesCleartextTraffic="true">
        <meta-data
            android:name="org.godotengine.plugin.v2.UpdateInstaller"
            android:value="com.local.medievaldice.update.UpdateInstallerPlugin" />
    </application>
</manifest>
